
/* app-shell */

:target {
    scroll-margin-top: 45px;
}

/* snackbar */

#snackbar {
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    left: 24px;
    bottom: 24px;
    min-width: 250px;
    margin-right: 24px;
    text-align: center;
    background-color: #333;
    color: #fff;
    font-size: 17px;
    padding: 16px;
    border-radius: 2px;
}

#snackbar.show {
    visibility: visible;
    /* -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; */
    /* animation: fadein 0.5s, fadeout 0.5s 2.5s; */
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 24px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 24px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 24px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 24px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
