$blockTimesFromHour: 8;
$blockTimesToHour: 21;
$blockTimes: ();
@for $i from $blockTimesFromHour through $blockTimesToHour {
    $blockTimes: append($blockTimes, '#{$i}00');
    $blockTimes: append($blockTimes, '#{$i}30');
}

$blockSpanSize: 1;
$blockSpans: ();
@for $i from 1 through $blockSpanSize {
    $blockSpans: append($blockSpans, $i);
}

$gridTemplateAreas: ();
@each $time in $blockTimes {
    $row: 'time#{$time}';
    @for $i from 1 through $blockSpanSize {
        $row: $row + " a";
    }
    $gridTemplateAreas: append($gridTemplateAreas, $row);
}

.booking {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    min-height: 100vh;
    padding: 1rem 0;
    // font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
.booking-container {
    display: grid;
    grid-gap: 0.2rem;

    grid-template-columns: 4rem repeat(length($blockSpans), 1fr);
    grid-template-rows: repeat(($blockTimesToHour - $blockTimesFromHour + 1) * 2, 1fr);
    grid-template-areas: $gridTemplateAreas;
}

/**
* Time
*/
.booking-time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: thin dotted #ccc;
    height: 100%;
    // height: 55px;
    padding: 0 0.5rem;

    @each $time in $blockTimes {
        &.start-#{$time} {grid-area: time#{$time} }
    }

    &[class*="30"]:not(.start-1300) {
        // font-size: 0.8rem;
        color: #aaa;
    }
}

/**
* Event
*/
.booking-event {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background-color: orange;
    border-radius: 0.2rem;
    // font-size: 0.8rem;
    // font-weight: bold;
    line-height: 1.4;

    span {
        display: block;
        width: 100%;
        font-size: 0.9em;
        font-weight: normal;
    }

    @each $time in $blockTimes {
        &.start-#{$time} {grid-row-start: time#{$time} }
    }

    @each $time in $blockTimes {
        &.end-#{$time} {grid-row-end: time#{$time} }
    }

    @each $span in $blockSpans {
        &.span-#{$span} {
            grid-column-end: span #{$span};
        }
    }

}
