$blockTimesFromHour: 8;
$blockTimesToHour: 21;
$blockTimes: ();
@for $i from $blockTimesFromHour through $blockTimesToHour {
    $blockTimes: append($blockTimes, '#{$i}00');
    $blockTimes: append($blockTimes, '#{$i}30');
}

$blockSpanSize: 4;
$blockSpans: ();
@for $i from 1 through $blockSpanSize {
    $blockSpans: append($blockSpans, $i);
}

$gridTemplateAreas: ();
@each $time in $blockTimes {
    $row: 'time#{$time}';
    @for $i from 1 through $blockSpanSize {
        $row: $row + " stage";
    }
    $gridTemplateAreas: append($gridTemplateAreas, $row);
}

.schedule {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    min-height: 100vh;
    padding: 1rem 0;
    // font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
.schedule-container {
    display: grid;
    grid-gap: 0.2rem;

    grid-template-columns: 4rem repeat(length($blockSpans), 1fr);
    grid-template-rows: repeat(($blockTimesToHour - $blockTimesFromHour + 1) * 2, 1fr);
    grid-template-areas: $gridTemplateAreas;
}

/**
* Time
*/
.schedule-time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: thin dotted #ccc;
    height: 100%;
    padding: 0 0.5rem;

    @each $time in $blockTimes {
        &.start-#{$time} {grid-area: time#{$time} }
    }

    &[class*="30"]:not(.start-1300) {
        // font-size: 0.8rem;
        color: #aaa;
    }
}

/**
* Event
*/
.schedule-event {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background-color: orange;
    border-radius: 0.2rem;
    // font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.4;

    span {
        display: block;
        width: 100%;
        font-size: 0.9em;
        font-weight: normal;
    }

    @each $time in $blockTimes {
        &.start-#{$time} {grid-row-start: time#{$time} }
    }

    @each $time in $blockTimes {
        &.end-#{$time} {grid-row-end: time#{$time} }
    }

    @each $span in $blockSpans {
        &.span-#{$span} {
            grid-column-end: span #{$span};
        }
    }

    &.stage-earth {background-color: #FFA726};
    &.stage-mercury {background-color: #9CCC65};
    &.stage-venus {background-color: #FF8A65};
    &.stage-mars {background-color: #B3E5FC};
    &.stage-jupiter {background-color: #81D4FA};
    &.stage-saturn {background-color: #26C6DA};
}
